[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = TR
ST = Istanbul
L  = Kadikoy
O  = Pelinsuperapp
OU = DevTeam
CN = www.pelinsuperapp.com

[req_ext]
subjectAltName = @alt_names
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = www.pelinsuperapp.com
